--- 
- name: Print the KMS ID
  debug:
    msg: "The KMS ID is {{ rds_endpoint }}"

- name: Create a new database with name 'my-database'
  community.general.mssql_db:
    login_user: "{{ master_username }}"
    login_password: "{{ master_passwd }}"
    login_host: "{{ rds_endpoint }}"
    login_port: "{{ port }}"
    name: "{{ database_name }}"
    state: present

#- name: Check DB connection
#  community.general.mssql_script:
#   login_user: "{{ login_username }}"
#   login_password: "{{ login_password }}"
#   login_host: "{{ login_host }}"
#   login_port: "{{ login_port }}"
#   db: "{{ database_name }}"
#   script: 

- name: Running SQL Script
  command: sqlcmd -S "{{ rds_endpoint }}" -U "{{ master_username }}" -P "{{ master_passwd }}"
